.chefs{
    padding:80px 30px;
    background:#f8f9fb;
    text-align:center;
}

.chefs h2{
    font-size:42px;
    color:#ff5722;
    margin-bottom:50px;
}

.chef-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
    max-width:1200px;
    margin:auto;
}

.chef-card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
    transition:.35s;
    padding-bottom:25px;
}

.chef-card:hover{
    transform:translateY(-10px);
}

.chef-card img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.chef-card h3{
    margin-top:18px;
    font-size:25px;
}

.chef-card p{
    color:#666;
    margin:12px 0 20px;
}

.chef-card button{
    padding:12px 28px;
    border:none;
    border-radius:30px;
    background:linear-gradient(135deg,#ff9800,#ff5722);
    color:white;
    cursor:pointer;
    font-weight:bold;
}