.testimonials{
    padding:80px 30px;
    background:#fff;
    text-align:center;
}

.testimonials h2{
    font-size:42px;
    color:#ff5722;
    margin-bottom:50px;
}

.testimonial-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    max-width:1200px;
    margin:auto;
}

.testimonial-card{
    background:#fafafa;
    padding:35px;
    border-radius:20px;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
    transition:.35s;
}

.testimonial-card:hover{
    transform:translateY(-10px);
}

.testimonial-card img{
    width:90px;
    height:90px;
    border-radius:50%;
    object-fit:cover;
    margin:auto;
}

.testimonial-card h3{
    margin-top:18px;
    font-size:24px;
}

.testimonial-card span{
    color:#ff5722;
    font-weight:bold;
}

.testimonial-card p{
    margin:20px 0;
    line-height:1.7;
    color:#555;
}

.stars{
    font-size:22px;
}